body {
    background-color: #f4f4f4;
}

/* HERO */
.hero {
    height: 350px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("https://upload.wikimedia.org/wikipedia/commons/2/2b/Sevilla_Semana_Santa.jpg");
    background-size: cover;
    background-position: center;
}

/* TARJETAS */
.stat-card {
    padding: 40px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.stat-card:hover {
    transform: translateY(-10px);
}